MONGODB_URI=mongodb+srv://sandeshjadhavv1002_db_user:sandesh333@rserver.dqzjvtb.mongodb.net/portfolio?retryWrites=true&w=majority
GMAIL_USER=sandeshjadhavv1002@gmail.com
GMAIL_APP_PASSWORD=bpra upwy onhb jysb
OWNER_EMAIL=sandeshjadhavv1002@gmail.com
FRONTEND_URL=http://localhost:5173
PORT=5000

